---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Homepage',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Projects', href: '#projects' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'Resume',
          href: 'https://ricky-hu.com/resume',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Ricky Hu"
    actions={[
      { variant: 'primary', text: 'Download Resume', href: 'https://ricky-hu.com/resume' },
      { variant: 'secondary', text: 'Support Me', href: 'https://coff.ee/ricky9667' },
    ]}
  >
    <Fragment slot="subtitle"><br /> Learn more to contribute more. </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/ricky9667',
        },
      },
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          target: '_blank',
          text: 'Youtube',
          href: 'https://www.youtube.com/@ricky9667',
        },
      },
      {
        icon: 'tabler:cube',
        callToAction: {
          target: '_blank',
          text: 'WCA',
          href: 'https://www.worldcubeassociation.org/persons/2015HUSH02',
        },
      },
    ]}
    image={{
      src: '~/assets/images/me.jpg',
      alt: 'Ricky',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-wide dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I am a software developer and professional speedcuber from Taiwan. I utilize my mobile skills in <b>Android</b>,
        <b>Kotlin Multiplatform</b>, and <b>Flutter</b>, to build applications for the cubing community. I also learn
        software development skills in my free time, such as full-stack development, software design, self-hosting, etc.
      </p>
      <br />
      <p>Check out these links if your interested!</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Android Developer <br /> <span class="font-normal">1111 Job Bank - Taipei, Taiwan</span> <br /> <span class="text-sm font-normal">2025 Dec - Present</span>',
        description: `
        <li><b>Modernized legacy UI components and stabilized insets handling</b> by diagnosing lifecycle constraints and replacing deprecated inset consumption patterns, ensuring highly consistent navigation bar and IME behaviors without unintended side effects.</li><br />
        <li><b>Resolved app-wide Android 15+ edge-to-edge rendering issues</b> by standardizing Fragment inheritance hierarchies and refactoring global WindowInsets dispatch mechanisms, successfully eliminating pervasive double-padding bugs across complex authentication flows.</li>`,
        icon: 'tabler:brand-android',
      },
      {
        title:
          'Quality Assurance Intern <br /> <span class="font-normal">Appier - Taipei, Taiwan</span> <br /> <span class="text-sm font-normal">2024 Jul - 2025 Jan</span>',
        description: `
        <li>Ensured cross-platform reliability for the <b>AIQUA mobile SDK</b>, serving <b>native Android, iOS, Flutter, and React Native environments</b>, by engineering robust, automated <b>end-to-end testing</b> pipelines utilizing <b>Pytest</b> and <b>Appium</b>.</li> <br /> 
        <li>Designed and implemented a <b>data quality testing system</b> within 2 months for AIQUA projects, ensuring key data quality metrics such as accuracy, timeliness, and validity are consistently met.</li>
        <li>Delivered a 20-minute presentation on the critical importance of <b>data quality</b>, featuring practical code examples using the <b>Great Expectations</b> data validation framework.</li>`,
        icon: 'tabler:brand-python',
      },
      {
        title:
          'Android Developer Intern <br /> <span class="font-normal">LINE Taiwan Limited - Taipei, Taiwan</span> <br /> <span class="text-sm font-normal">2023 Mar - 2024 Jun</span>',
        description: `
        <li>Developed a video streaming <b>Flutter plugin</b> that integrates native OS functionality, <b>abstracting native platform complexity</b> and <b>improdeveloper velocity by 80%</b>.</li><br />
        <li>Led a seamless upgrade of <b>Jetpack Compose</b> and <b>Android SDK</b>, documenting the process in a detailed wiki for team use.</li><br />
        <li>Conducted an investigation of the <b>Jetpack Glance</b> library for building Android App Widgets, leading to the successful implementation of a Glance Widget within 2 months.</li><br />`,
        icon: 'tabler:brand-android',
      },
      {
        title:
          'Flutter Developer Intern <br /> <span class="font-normal">LINE Taiwan Limited - Taipei, Taiwan</span> <br /> <span class="text-sm font-normal">2022 Jul - 2023 Mar</span>',
        description: `
        <li>Designed and implemented critical features for <b>LINE Shopping App</b>, improving the user experience for over <b>1 million users</b> through close collaboration with senior engineers and cross-functional teams.</li><br />
        <li>Delivered a talk about <b>Flutter and Clean Architecture</b> at LINE Taiwan TECHPULSE 2023, captivating an audience of <b>300+ professionals</b>.</li>`,
        icon: 'tabler:brand-flutter',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Computer Science and Information Engineering <br /> <span class="font-normal">National Taipei University of Technology (NTUT)</span> <br /> <span class="text-sm font-normal">2023 Jul - 2025 Aug</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Electrical Engineering and Computer Science<br /> <span class="font-normal">National Taipei University of Technology (NTUT)</span> <br /> <span class="text-sm font-normal">2019 Sep - 2023 Jun</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle=""
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Mobile Development',
        description: 'Native Android, Kotlin Multiplatform, Flutter, Kotlin',
      },
      {
        title: 'Backend & Infrastructure',
        description: 'Spring Boot, Docker, CI/CD, Github Actions',
      },
      {
        title: 'Software Architecture',
        description: 'Clean Architecture, Design Patterns, Object-oriented Design, SOLID Principles',
      },
      {
        title: 'Software Testing',
        description: 'Python, Pytest, Appium, Compose UI Testing, JUnit',
      },
      {
        title: 'Other Development Skills',
        description: 'Vue, Scrum, Git, LLM, Vim',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="projects"
    title="My Projects"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          "Multiplayer Rubik's Cube Timer built with Compose Multiplatform, supports Android and iOS with features such as portrait/landscape display, sessions history, and more features.",
      },
      {
        title: 'Role:',
        description:
          'Served as Product Owner and participated in mobile app development, system design, achieving 300+ monthly active users, 82.4% install retention, and 100% crash-free rate.',
      },
    ]}
    image={{
      src: '~/assets/images/hush_timer.png',
      alt: 'HUSH Timer Logo',
    }}
    callToAction={{
      target: '_blank',
      text: 'Visit Project',
      icon: 'tabler:chevron-right',
      href: 'https://hushtimer.app/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        HUSH Timer: <br /><span class="text-2xl">Rubik's Cube 1v1 Battle Timer</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          "Typing Rubik's Cube notations on a mobile keyboard kind of a frustration, switching between notations, numbers, and symbols makes it extremely annoying. HUSH Keyboard provides a specialized Rubik's Cube keyboard that is functional, minimal, and customizable.",
      },
      {
        title: 'Role:',
        description: `Developed a custom Android keyboard with Jetpack Compose, enhancing the ease of typing Rubik's Cube notations, and achieved 100+ downloads on Google Play within 2 months.`,
      },
    ]}
    image={{
      src: '~/assets/images/hush_keyboard.png',
      alt: 'HUSH Keyboard Logo',
    }}
    callToAction={{
      target: '_blank',
      text: 'Visit Project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/ricky9667/HushKeyboard',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        HUSH Keyboard: <br /><span class="text-2xl">Rubik's Cube notation keyboard for Android.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts id="blog" title="My posts" information={`Will be updated soon!`}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
